///////////////////////////////////////////////



// ссылки



A {
	color: $color-link;
	text-decoration: underline;

	&:hover {
		color: $color-link-hover;
		text-decoration: none;
	}

	&.a--dotted {
		text-decoration: none;
		color: $color-link;
		border-bottom: dotted 1px $color-link;
		line-height: 1;

		&:hover {
			color: $color-link-hover;
			border-color: transparent;
		}

	}

}


A[href^="tel"] {
	color: $color-text !important;
	text-decoration: none !important;
}

*:focus {
	outline: none !important;
	text-decoration: none !important;
	color: $color-link;
	box-shadow: none !important;
}


.link-telegram {
	display: block;
	text-align: center;
	background: $c-blue-dark url("../img/i-telegram.svg") right no-repeat;
	height: 36px;
	border: solid 3px $c-blue-dark;
	border-radius: 40px;
	color: $c-white;
	line-height: 30px;
	padding: 0 36px 0 12px;
	text-decoration: none;
	overflow: hidden;
	margin-left: 2rem;

	@include media-breakpoint-only(xs) {
		margin: 1.5rem 0 0 0;
		display: inline-block;
	}

	&:hover {
		background-color: $color-link-hover;
		border-color: $color-link-hover;
		color: $c-white;
		text-decoration: none;
	}

}