///////////////////////////////////////////////



// верхнее меню


.navbar-custom {
	padding-top: 30px;
	justify-content: flex-start;

	.navbar-nav {
		font-size: $font-size-basemax;
		color: $c-black;
		margin: 3px 0 0 -20px;

		.nav-item {
			margin: 0;
			padding: 0;
		}

		.nav-item-md {
			display: block;
			margin-bottom: -8px;

			@include media-breakpoint-down(md) {
				display: none;
			}

			.dropdown-toggle {
				display: inline-block;
				padding: 2px 5px 0 20px;
				cursor: pointer;
			}

		}

		.nav-link {
			text-transform: uppercase;
			text-decoration: none;
			color: $c-gray;
			line-height: 1;
			padding: 5px 10px;

			@include media-breakpoint-down(lg) {
				padding: 5px 8px;
			}

			&:hover,
			&:focus {
				background-color: $c-blue;
				color: $c-white;
			}

		}

	}

	@include media-breakpoint-up(lg) {

		.dropdown:hover .dropdown-menu {
			display: block;
		}

		.dropdown-toggle::after {
			display:none;
		}

	}


	.dropdown-menu {
		min-width: 20rem;
		margin-top: -1px;
		border-radius: 0;
		overflow-x: auto;

		.dropdown-item {
			font-size: $font-size-base;
			text-transform: uppercase;
			text-decoration: none;
			color: $c-gray;
			line-height: 1;
			padding: 10px 15px;

			&:hover {
				background-color: $c-blue;
				color: $c-white;
			}
		}

	}

	.navbar-search-md {
		margin: 0 0 0 -15rem;
		padding: 0;
		min-width: 50rem;
		border: none;
		background-color: transparent;
		position: relative;
		min-height: 115px;

		@include media-breakpoint-only(lg) {
			margin: -3px 0 0 -12rem;
		}

	}


	.navbar-toggler {
		width: 28px;
		height: 24px;
		padding: 0;
		margin: -3px 0 0 0;

		.navbar-toggler__icon {
			width: 28px;
			height: 24px;
			background: url("../img/burger-o.svg") center center no-repeat;

			&.close {
				background: url("../img/burger-c.svg") center center no-repeat;
			}

		}

	}


	.navbar-lang {
		position: absolute;
		bottom: -4rem;
		right: -19rem;

		@include media-breakpoint-only(md) {
			bottom: -3rem;
			right: -18rem;
		}

		.navbar-lang__item {
			margin: 0 0.3rem;
			display: inline-block;
			font-size: $font-size-fixsm;
			text-decoration: none;
			text-transform: uppercase;
			color: $c-black;
			padding: 2px 5px 2px 2px;
			background-color: rgba(255,255,255,0.75);
			border-radius: 3px;

			&:hover {
				background-color: $c-white;
				color: $color-link-hover;
			}

			img {
				width: 15px;
				height: 15px;
				margin-right: 5px;
			}

		}

		span.navbar-lang__item,
		span.navbar-lang__item:hover	{
			background-color: rgba(0,0,0,0.35);
			color: $c-white;
		}

	}

	.navbar-cart {
		display: inline-block;
		position: absolute;
		bottom: -4.4rem;
		right: 0;
		text-decoration: none;
		font-size: $font-size-basemin;
		text-transform: uppercase;
		background: $c-white;
		color: $c-gray-light;
		padding: 4px 8px 4px 7px;
		border-radius: 3px;

		&:hover {
			background: $color-link-hover;
			color: $c-white;
		}

		.far {
			font-size: 15px;
			margin-right: 5px;
		}

	}

	.navbar-cab {
		display: none;
	}

	.navbar-phone {
		display: none;
		font-size: 2.1rem;
		margin-bottom: 1.5rem;
		font-family: $font-family-light;

		span {
			font-size: $font-size-basemin;
			color: $c-gray-lighter;
		}


		@include media-breakpoint-down(xs) {
		 display: block;
		}

	}

	.nav-btn_search,
	.nav-btn_cart {
		display: none;
	}

}


.fm-search-md,
.nav-fm_search {
	display: flex;
	align-items: center;

	@include placeholder {
		color: $c-white;
	}

	input[type="search"] {
		flex: 1;
		width: 100%;
		color: $c-black !important;
		background-color: rgba($c-black, 0.25);
		height: 33px !important;
		border: solid 1px #bbbbbb;
		border-radius: 0;
		padding: 0 7rem 0 1rem !important;

		&::-webkit-search-cancel-button {
			-webkit-appearance: none;
			display: none;
		}

	}

	input[type="submit"] {
		background: transparent url("../img/lupa.svg") 100% center no-repeat;
		color: transparent !important;
		height: 33px !important;
		width: 6rem;
		border: none;
		border-radius: 0;
		margin-left: -6rem;

		&:hover {
			background: rgba($c-black, 0.5);
			color: $c-white !important;
		}

		&.active {
			background: $color-link;
			color: $c-white !important;

			&:hover {
				background: $color-link-hover;
			}

		}

	}

}

.fm-search-md {
	position: relative;
	background: rgba($c-white, 0.75);
	padding: 10px;
}


.nav-fm_search {
	margin-top: 1rem;
	margin-bottom: 1rem;
}



@include media-breakpoint-down(md) {

	.navbar-dlv {
		border-top: dotted 1px $c-gray-lightermore;
		height: 1px;
		margin: 1rem -10px 1.5rem -10px;
	}

	.navbar-custom {
		display: block;
		padding: 10px 0 0 0;

		.navbar-nav {
			padding: 0.5rem 0 1.5rem 0;
			margin: 5px -10px 0 -10px !important;
		}

		.nav-item {
			padding-top: 3px;
			padding-bottom: 3px;
		}

		.navbar-lang {
			position: static;
			margin-bottom: 20px;
			margin-left: -5px;
		}

		.navbar-cart {
			position: static;
			text-decoration: none;
			font-size: $font-size-base;
			text-transform: uppercase;
			color: $c-gray;
			margin: 0 0 0 -10px;


			&:hover {
				background: $color-link-hover;
				color: $c-white;
			}

			.far {
				font-size: 15px;
				margin-right: 5px;
			}

			span {
				display: inline-block !important;
			}

		}

		.navbar-cab {
			display: inline-block;
			font-size: $font-size-base;
			text-decoration: none;
			margin: 0 0 3rem -10px;
			color: $c-gray;
			border-radius: $border-radius;
			padding: 0.5rem 1rem 0.5rem 1rem;

			&:before {
				font-family: $fontawesome;
				margin-right: 5px;
				content: "\f007";
				position: relative;
				top: -1px;
			}

			&:hover {
				background: $color-link-hover;
				color: $c-white;

				&:before {
					color: $c-white;
				}

			}

		}

		.nav-btn_search {
			position: relative;
			top: -0.6rem;
			display: inline-block;
			border: none;
			background: none;
			color: $c-black;
			font-size: 1.8rem;
			margin: 0 0 0 2.5rem;
			padding: 0;
		}

		.nav-btn_cart {
			position: relative;
			top: -0.6rem;
			display: inline-block;
			color: $c-black;
			font-size: 1.8rem;
			margin: 0 0 0 2rem;
		}

	}

	.navbar-collapse {
		margin-left: 1rem;
		margin-right: 1rem;
	}

}



.header.fixed {

	.navbar-custom {
		padding-top: 10px;

		.navbar-search-md {
			margin-top: -3px;
		}

		.navbar-search {

			@include media-breakpoint-up(lg) {
				display: none;
			}

		}

		.navbar-cart {

			span {
				display: none;
			}

		}

	}

}





.fm-search-md,
.nav-fm_search {

	.select2-container {
		margin-left: 0.5rem;
		width: 140px !important;

		.select2-selection {
			height: 33px;
			border: solid 1px #cccccc;
			border-radius: 0;
			color: $c-gray;
			padding: 0 2rem 0 0.7rem;
			outline: none;
			font-size: $font-size-basemin;

			&__rendered {
				padding: 0;
				line-height: 31px;
				color: $c-gray;
				position: relative;
			}

			&__arrow {
				height: 33px;
				width: 25px;

				b {
					border-color: $c-gray transparent transparent transparent;
					border-width: 6px 5px 0 5px;
					margin-left: -5px;
					margin-top: -3px;
				}

			}

		}

		&.select2-container--open {
			.select2-selection {

				.select2-selection__arrow b {
					border-color: transparent transparent $c-gray transparent;
					border-width: 0 3px 6px 5px;
				}
			}
		}
	}

	.select2-dropdown {
		background-color: $c-white;
		border-radius: 0;
		margin-top: -1px;
		margin-left: -5px;
		z-index: 9999;

		&--below {
			border: solid 1px #cccccc;
			drop-shadow: none;
		}

	}

	.select2-results__option {
		position: relative;
		padding: 8px;
		margin: 0;
		color: $c-black;
		font-size: $font-size-basemin;
		background-color: $c-white;

		&--selected,
		&--highlighted[aria-selected] {
			.select2-selected-icon {
				display: inline-block;
			}
		}

		.select2-selected-icon {
			display: none;
			position: absolute;
			right: 8px;
			top: 50%;
			transform: translateY(-50%);
			color: $c-white;
		}

	}

}