<div class="bar-bottom fixed-bottom">
<div class="container">



		<div class="bar-bottom-l">
			<a href="tel:84956462226" class="bar-bottom-l__phone"><span>8 495</span>&nbsp;<strong>646-22-26</strong></a>
		</div>


		<div class="bar-bottom-r">
			<div class="bar-bottom-l__socicons">
				<a href="#" title="Whatsapp"><i class="fab fa-whatsapp"></i></a>
				<a href="#" title="Viber"><i class="fab fa-viber"></i></a>
				<a href="#" title="Telegram"><i class="fab fa-telegram"></i></a>
			</div>
		</div>



</div>
</div>
</div>
