<footer class="footer">
<div class="container">
	<div class="row">


		<div class="col-lg-7 col-md-12 col-sm-6 col-xs-12 footer-l">

			<ul class="footer-menu">
				<li class="footer-menu__hdr"><a href="#">Каталог</a></li>
				<li class="footer-menu__hdr"><a href="#">Портфолио</a></li>
				<li class="footer-menu__hdr"><a href="#">Мое избранное</a></li>
				<li class="footer-menu__hdr"><a href="#">Моя корзина</a></li>
			</ul>

			<ul class="footer-menu">
				<li class="footer-menu__hdr"><a href="#">Сервис</a></li>
				<li><a href="#">Скачать</a></li>
				<li><a href="#">Где купить</a></li>
				<li><a href="#">Гарантия</a></li>
				<li><a href="#">Заказать запчасти</a></li>
				<li><a href="#">Сертификаты</a></li>
				<li><a href="#">Видео</a></li>
				<li><a href="#">FAQ</a></li>
			</ul>

			<ul class="footer-menu">
				<li class="footer-menu__hdr"><a href="#">О компании</a></li>
				<li><a href="#">Контакты</a></li>
				<li><a href="#">Новости</a></li>
				<li><a href="#">Пресса</a></li>
				<li><a href="#">Выставки</a></li>
				<li>&nbsp;</li>
				<li>&nbsp;</li>
				<li><a href="#">Карта сайта</a></li>
			</ul>

		</div>


		<div class="col-lg-5 col-md-12 col-sm-6 col-xs-12 footer-r">

			<ul class="footer-socicons">
				<li><a href="#" title="ВКонтакте"><i class="fab fa-vk"></i></a></li>
				<li><a href="#" title="YouTube"><i class="fab fa-youtube"></i></a></li>
			</ul>

			<ul class="footer-codesearch">
				<li>
					<form class="fm-codesearch">
						<input id="fld_searchcode" class="ani--searchcode-fld" type="search" placeholder="Поиск по коду товара">
						<input id="btn_searchcode" class="ani--searchcode-btn" type="submit" value="Найти">
					</form>
				</li>
			</ul>

			<ul class="footer-links">
				<li><a href="#">Выходные данные</a></li>
				<li><a href="#">Политика конфендициальности</a></li>
			</ul>

			<div class="footer-copy">© 2018 — 2025 Kubele</div>

		</div>

	</div>
</div>
</footer>