<header class="header">


<div class="bar-top">
	<div class="container-fluid">
		Уважаемые клиенты, магазин продолжает работу в дистанционном режиме. Все заказы мы доставим до вашего дома. Берегите себя.
	</div>
</div>


<div class="container">

	<a href="tel:88004442726" class="header-phone" title="Позвоните нам"><span>8 800</span>&nbsp;<strong>444-27-26</strong></a>

	<div class="header-logo">
		<a href="https://www.kubele.com/"><img src="img/logo.svg" alt="Kubele"></a>
	</div>

	<a href="#" class="header-cab">Личный кабинет</a>

	<div class="row headerrow-sl">
		<div class="col-lg-5 col-sm-6">
			<div class="header__slogan"><img src="img/slogan.svg" alt=""></div>
		</div>
		<div class="col-lg-4 col-sm-6">
			<a href="#" class="header__fav">Мое избранное</a>
			<a href="#" class="header__region" data-toggle="modal" data-target="#modal_region">Москва</a>
		</div>
	</div>

	<div class="row headerrow-main">
		<div class="col-lg-12">
			//= _nav.html
		</div>
	</div>


</div>


</header>
