<nav class="navbar navbar-custom navbar-expand-lg">


	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#id_main-nav" aria-controls="id_main-nav" aria-expanded="false" aria-label="Меню">
		<div class="navbar-toggler__icon"></div>
	</button>
	</button>


	<button class="nav-btn_search" data-toggle="collapse" data-target="#id_md_search" aria-expanded="false" aria-controls="id_md_search" title="Поиск по сайту"><i class="far fa-search"></i></button>


	<a href="#" class="nav-btn_cart" title="Ваша корзина"><i class="far fa-shopping-cart"></i></a>


	<div class="collapse nav-md_search" id="id_md_search">
		<form class="nav-fm_search">
			<input id="fld_mdsearch" type="search" class="ani--search-fld" placeholder="Поиск по сайту" autocomplete="off">
			<input id="btn_mdsearch" type="submit" class="ani--search-btn" title="Найти" value="Найти">
			<select id="slt_mdsearch">
				<option value="all">искать везде</option>
				<option value="catalog" selected>искать в каталоге</option>
			</select>
		</form>
	</div>


	<div class="collapse navbar-collapse" id="id_main-nav">

		<div class="navbar-dlv"></div>

		<a href="tel:88004442726" class="navbar-phone" title="Позвоните нам">8&nbsp;800&nbsp;<strong>444-27-26</strong></a>

		<a href="/catalogue/cart/" class="navbar-cart" title="Товаров в корзине">
			<i class="far fa-shopping-cart"></i>
			<span>Товаров в корзине:&nbsp;</span><strong rel="cart_num">0</strong>
		</a>

		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a href="/catalogue/filter/" id="id_main-nav1" class="nav-link link-hovered" role="button" aria-haspopup="true" aria-expanded="false">Каталог</a>
			</li>
			<li class="nav-item dropdown">
				<a href="#" id="id_main-nav10" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">О компании</a>
				<div class="dropdown-menu" aria-labelledby="id_main-nav10">
					<a href="/about/" class="dropdown-item">О нас</a>
					<a href="/about/news/" class="dropdown-item">Новости</a>
					<a href="/about/exhibitions/" class="dropdown-item">Выставки</a>
					<a href="/about/press/" class="dropdown-item">Пресса</a>
					<a href="/about/contacts/" class="dropdown-item">Контакты</a>
					<a href="/portfolio/" class="dropdown-item">Портфолио</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a href="#" id="id_main-nav3" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сервис</a>
				<div class="dropdown-menu" aria-labelledby="id_main-nav3">
					<a href="/service/adjusters/" class="dropdown-item">Монтаж</a>
					<a href="/service/guarantee/" class="dropdown-item">Гарантия</a>
					<a href="/service/order-parts/" class="dropdown-item">Заказать запчасти</a>
					<a href="/service/download/" class="dropdown-item">Скачать</a>
					<a href="/service/video/" class="dropdown-item">Видео</a>
					<a href="/service/certificates/" class="dropdown-item">Сертификаты</a>
					<a href="/service/faq/" class="dropdown-item">Часто задаваемые вопросы</a>
					<a href="/service/dilery/" class="dropdown-item">Где купить</a>
				</div>
			</li>
			<li class="nav-item">
				<a href="/delivery/" id="id_main-nav37" class="nav-link" role="button" aria-expanded="false">Доставка</a>
			</li>
			<li class="nav-item dropdown">
				<a href="/payment/" id="id_main-nav38" class="nav-link" role="button" aria-expanded="false">Оплата</a>
			</li>
			<li class="nav-item dropdown nav-item-md">
				<span class="dropdown-toggle" id="id_main-nav6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/b-lupa.svg" alt="Поиск по сайту"></span>
				<div class="navbar-search-md dropdown-menu" aria-labelledby="id_main-nav6">
					<form class="fm-search-md">
						<input id="fld_mainsearch" type="search" class="ani--search-fld" placeholder="Поиск по сайту" autocomplete="off">
						<input id="btn_mainsearch" type="submit" class="ani--search-btn" title="Найти" value="Найти">
						<select id="slt_mainsearch">
							<option value="all">искать везде</option>
							<option value="catalog" selected>искать в каталоге</option>
						</select>
					</form>
				</div>
			</li>
		</ul>

		<a href="#" class="navbar-cab">Личный кабинет</a>

	</div>


</nav>












