<nav class="navbar navbar-custom navbar-expand-lg">


	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#id_main-nav" aria-controls="id_main-nav" aria-expanded="false" aria-label="Меню">
		<div class="navbar-toggler__icon"></div>
	</button>


	<button class="nav-btn_search" data-toggle="collapse" data-target="#id_md_search" aria-expanded="false" aria-controls="id_md_search" title="Поиск по сайту"><i class="far fa-search"></i></button>


	<a href="#" class="nav-btn_cart" title="Ваша корзина"><i class="far fa-shopping-cart"></i></a>


	<div class="collapse nav-md_search" id="id_md_search">
		<form>
			<input class="form-control" type="search" placeholder="Поиск по сайту">
		</form>
	</div>


	<div class="collapse navbar-collapse" id="id_main-nav">

		<div class="navbar-dlv"></div>

		<a href="tel:88004442726" class="navbar-phone" title="Позвоните нам">8&nbsp;800&nbsp;<strong>444-27-26</strong></a>

		<a href="#" class="navbar-cart" title="Товаров в корзине">
			<i class="far fa-shopping-cart"></i>
			<span>Товаров в корзине:&nbsp;</span><strong>96</strong>
		</a>

		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle link-hovered" href="#" id="id_main-nav1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Каталог</a>
				<div class="dropdown-menu" aria-labelledby="id_main-nav1">
					<a class="dropdown-item" href="#">Душевые ограждения четверть круга</a>
					<a class="dropdown-item" href="#">Душевые ограждения квадратные</a>
					<a class="dropdown-item" href="#">Душевые ограждения прямоугольные</a>
					<a class="dropdown-item" href="#">Душевые ограждения п-образные</a>
					<a class="dropdown-item" href="#">Двери в душевые ниши</a>
					<a class="dropdown-item" href="#">Шторки в ванну прямоугольные</a>
					<a class="dropdown-item" href="#">Шторки в ванну асимметричные</a>
					<a class="dropdown-item" href="#">Шторки в ванну симметричные</a>
					<a class="dropdown-item" href="#">Поддоны для душа четверть круга</a>
					<a class="dropdown-item" href="#">Поддоны для душа квадратные</a>
					<a class="dropdown-item" href="#">Поддоны для душа пятиугольные</a>
					<a class="dropdown-item" href="#">Поддоны для душа прямоугольные</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle link-hovered" href="#" id="id_main-nav2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">О компании</a>
				<div class="dropdown-menu" aria-labelledby="id_main-nav2">
					<a class="dropdown-item" href="#">Контакты</a>
					<a class="dropdown-item" href="#">Новости</a>
					<a class="dropdown-item" href="#">Пресса</a>
					<a class="dropdown-item" href="#">Выставки</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle link-hovered" href="#" id="id_main-nav3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сервис</a>
				<div class="dropdown-menu" aria-labelledby="id_main-nav3">
					<a class="dropdown-item" href="#">Скачать</a>
					<a class="dropdown-item" href="#">Где купить</a>
					<a class="dropdown-item" href="#">Гарантия</a>
					<a class="dropdown-item" href="#">Заказать запчасти</a>
					<a class="dropdown-item" href="#">Сертификаты</a>
					<a class="dropdown-item" href="#">FAQ</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link link-hovered" href="#" id="id_main-nav4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Доставка</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link link-hovered" href="#" id="id_main-nav5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Оплата</a>
			</li>
			<li class="nav-item dropdown nav-item-md">
				<span class="dropdown-toggle" id="id_main-nav6" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/b-lupa.svg" alt="Поиск по сайту"></span>
				<div class="navbar-search-md dropdown-menu" aria-labelledby="id_main-nav6">
					<form class="fm-search-md">
						<input class="form-control" type="search" placeholder="Поиск по сайту" aria-label="Поиск по сайту">
					</form>
				</div>
			</li>
		</ul>

		<!--
		<div class="navbar-search">
			<form class="fm-search">
				<input class="form-control" type="search" placeholder="Поиск по сайту" aria-label="Поиск по сайту">
			</form>
		</div>
		-->

		<a href="#" class="navbar-cab">Личный кабинет</a>

	</div>


</nav>












