<nav class="navbar navbar-custom navbar-expand-lg">



	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#id_main-nav" aria-controls="id_main-nav" aria-expanded="false" aria-label="Меню">
		<div class="navbar-toggler__icon"></div>
	</button>



	<button class="nav-btn_search" data-toggle="collapse" data-target="#id_md_search" aria-expanded="false" aria-controls="id_md_search" title="Поиск по сайту"><i class="far fa-search"></i></button>



	<a href="/catalogue/cart/" class="nav-btn_cart" title="Ваша корзина"><i class="far fa-shopping-cart"></i></a>



	<div class="collapse nav-md_search" id="id_md_search">
		<form name="fm-search2" id="fm-search2" action="/search/" method="post">
			<input type="search" name="search" id="fm-search2__search" class="form-control" placeholder="Поиск по сайту" aria-label="Поиск по сайту">
		</form>
	</div>



	<div class="collapse navbar-collapse" id="id_main-nav">


		<div class="navbar-dlv"></div>


		<a href="/catalogue/cart/" class="navbar-cart" title="Товаров в корзине">
			<i class="far fa-shopping-cart"></i>
			<span>Товаров в корзине:&nbsp;</span><strong rel="cart_num">0</strong>
		</a>


		<ul class="navbar-nav mr-auto">

			<li class="nav-item">
				<button class="nav-link catalog-dropdownbtn"><i></i>Каталог</button>
			</li>

			<li class="nav-item dropdown">
				<a href="#" id="id_main-nav10" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">О компании</a>
				<div class="dropdown-menu" aria-labelledby="id_main-nav10">
					<a href="/about/" class="dropdown-item">О нас</a>
					<a href="/about/news/" class="dropdown-item">Новости</a>
					<a href="/about/exhibitions/" class="dropdown-item">Выставки</a>
					<a href="/about/press/" class="dropdown-item">Пресса</a>
					<a href="/about/contacts/" class="dropdown-item">Контакты</a>
					<a href="/portfolio/" class="dropdown-item">Портфолио</a>
				</div>
			</li>

			<li class="nav-item dropdown">
				<a href="#" id="id_main-nav3" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Сервис</a>
				<div class="dropdown-menu" aria-labelledby="id_main-nav3">
					<a href="/service/adjusters/" class="dropdown-item">Монтаж</a>
					<a href="/service/guarantee/" class="dropdown-item">Гарантия</a>
					<a href="/service/order-parts/" class="dropdown-item">Заказать запчасти</a>
					<a href="/service/download/" class="dropdown-item">Скачать</a>
					<a href="/service/video/" class="dropdown-item">Видео</a>
					<a href="/service/certificates/" class="dropdown-item">Сертификаты</a>
					<a href="/service/faq/" class="dropdown-item">Часто задаваемые вопросы</a>
					<a href="/service/dilery/" class="dropdown-item">Где купить</a>
				</div>
			</li>

			<li class="nav-item">
				<a href="/delivery/" id="id_main-nav37" class="nav-link" role="button" aria-haspopup="true" aria-expanded="false">Доставка</a>
			</li>

			<li class="nav-item">
				<a href="/payment/" id="id_main-nav38" class="nav-link" role="button" aria-haspopup="true" aria-expanded="false">Оплата</a>
			</li>

			<li class="nav-item dropdown nav-item-md">
				<span id="id_main-nav5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="img/b-lupa.svg" alt="Поиск по сайту"></span>
				<div class="navbar-search-md dropdown-menu float-right" aria-labelledby="id_main-nav4">
					<form name="fm-search" id="fm-search" action="/search/" method="post" class="fm-search-md">
						<input type="search" name="search" id="fm-search__search" class="form-control" placeholder="Поиск по сайту" aria-label="Поиск по сайту">
					</form>
				</div>
			</li>

		</ul>



		<a href="/personal/order/" class="navbar-cab">Личный кабинет</a>



	</div>
</nav>















